exportPattern("^[^\\.]")
import(methods)
import(rJava)
import(png)

importFrom("grDevices", "xy.coords")
importFrom("stats", "coefficients")
importFrom("utils", "flush.console")

S3method("!=", "iobj")
S3method("$", "iset")
S3method("$<-", "iset")
S3method("==", "iobj")
S3method("[", "iset")
S3method("[", "ivar")
S3method("[<-", "iset")
S3method("[<-", "ivar")
S3method("[[", "iset")
S3method("[[<-", "iset")
S3method("dim", "iset")
S3method("length", "iset")
S3method("length", "ivar")
S3method("names", "iset")
S3method("names<-", "iset")
S3method("print", "iobj")
S3method("print", "iplot")
S3method("print", "iset")
S3method("print", "ivar")
